<div class="row align-items-center mt-3">
  <div class="col-2"></div>
  <div class="col-8 card border-warning">
    <form>
      <div class="form-group mt-2">
        <label for="exampleFormControlInput1">Tên Khách Hàng</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Tên Nhân Viên</label>
        <input type="text" class="form-control"
        >
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Tiền Đặt Cọc</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Ngày Bắt Đầu</label>
        <input type="date" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Ngày Kết Thúc</label>
        <input type="date" class="form-control"
        >
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Loại Dịch Vụ</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Ocean Suite</option>
          <option>Ocean Studio Suite</option>
          <option>Garden Superior</option>
          <option>Garden Deluxe</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Tổng Tiền</label>
        <input type="text" class="form-control"
        >
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">
          <i class="far fa-paper-plane"></i>
          <span class="ml-1">Thêm Mới</span>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="col-2"></div>
