<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/dashboard.css"/>
    <script src="js/jquery-3.5.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/dashboard.js"></script>
</head>
<body>
<nav th:replace="common :: navigateBar"></nav>
<div th:replace="common :: sideBar"></div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <form action="/add-employee" method="post" accept-charset="UTF-8"
          th:object="${newEmployee}" class="form-horizontal">
        <fieldset>
            <div id="resHopDong">
                <legend class="">Register New Employee</legend>
            </div>
            <div class="control-group">
                <label class="control-label" for="name">Full Name</label>
                <div class="controls">
                    <input type="text" id="name" name="name"
                           th:field="*{name}" class="input-xlarge">
                    <p th:if="${#fields.hasErrors('name')}" style="color: red"
                       th:erros="*{name}" class="help-block"></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="birthDay">Day of Birth</label>
                <div class="controls">
                    <input type="date" id="birthDay" name="birthDay" th:field="*{birthDay}"
                           class="input-xlarge">
                    <p class="help-block"><a th:if="${#fields.hasErrors('birthDay')}" style="color: red"
                                             th:erros="*{birthDay}"></a></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="phoneNumber">Phone Number</label>
                <div class="controls">
                    <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" placeholder=""
                           class="input-xlarge">
                    <p class="help-block">
                        <a th:if="${#fields.hasErrors('phoneNumber')}" style="color: red" th:erros="*{phoneNumber}">
                        </a>
                    </p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="idNumber">ID Number</label>
                <div class="controls">
                    <input type="text" id="idNumber" name="idNumber" th:field="*{idNumber}" placeholder=""
                           class="input-xlarge">
                    <p class="help-block">
                        <a th:if="${#fields.hasErrors('idNumber')}" style="color: red" th:erros="*{idNumber}">
                        </a>
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="text" id="email" name="email" th:field="*{email}" placeholder=""
                           class="input-xlarge">
                    <p class="help-block">
                        <a th:if="${#fields.hasErrors('email')}" style="color: red" th:erros="*{email}">
                        </a>
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="address">Address</label>
                <div class="controls">
                    <input type="text" id="address" name="address" th:field="*{address}" placeholder=""
                           class="input-xlarge">
                    <p class="help-block">
                        <a th:if="${#fields.hasErrors('address')}" style="color: red" th:erros="*{address}">
                        </a>
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="gender">Gender</label>
                <div class="controls">
                    <select id="gender" name="gender" th:field="*{gender}">
                        <option th:value="Male" th:text="Male"></option>
                        <option th:value="Female" th:text="Female"></option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="typeEmployee">Type of Employee</label>
                <div class="controls">
                    <select id="typeEmployee" name="typeEmployee" th:accept-charset="UTF8" th:field="*{typeEmployee}">
                        <option th:each="type : ${listType}" th:value="${type}" th:text="${type}"></option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</main>
</body>
</html>