<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
</head>
<body>
<form action="/create" method="post" th:object="${postBlog}">
    <label>Title:</label>
    <input th:type="String" th:field="*{title}"/><br>
    <label>Name:</label>
    <input th:type="String" th:field="*{author}"/><br>
    <label>Date:</label>
    <input th:field="*{date}"/><br>
    <label>Description:</label>
    <input th:type="String" th:field="*{description}"/><br>
    <input type="submit" value="create"/>
</form>
</body>
</html>