<div class="row mt-4">
  <div class="col-12">
    <table class="table text-center">
      <thead class="thead-light text-center">
      <tr>
        <th scope="col">Mã Khách Hàng</th>
        <th scope="col">Họ Tên</th>
        <th scope="col">Email</th>
        <th scope="col">Số Điện Thoại</th>
        <th scope="col">Số Chứng Minh Nhân Dân</th>
        <th scope="col">Ngày Sinh</th>
        <th scope="col">Địa Chỉ</th>
        <th scope="col">Loại Khách</th>
        <th colspan="2" scope="col">Thao Tác</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>KH-1234</td>
        <td>Manfred von Richtofen</td>
        <td>TheRedBaron@gmail.com</td>
        <td>808080808080</td>
        <td>808080808080</td>
        <td>22/08/1916</td>
        <td>Prussia</td>
        <td>Platinum</td>
        <td><a href="">
          <i class="fas fa-edit"></i>
        </a></td>
        <td><a href="">
          <i class="far fa-trash-alt"></i>
        </a></td>
      </tr>
      <tr>
        <td>KH-1234</td>
        <td>Manfred von Richtofen</td>
        <td>TheRedBaron@gmail.com</td>
        <td>808080808080</td>
        <td>808080808080</td>
        <td>22/08/1916</td>
        <td>Prussia</td>
        <td>Platinum</td>
        <td><a href="">
          <i class="fas fa-edit"></i>
        </a></td>
        <td><a href="">
          <i class="far fa-trash-alt"></i>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
