<html xmlns:th="http://www.thymeleaf.org"><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<form action="/create" method="get" th:object="${product}" enctype="multipart/form-data">
    <label>Name:</label>
    <input th:field="*{name}"><br>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <label>Detail</label>
    <input th:field="*{detail}"><br>
    <p th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></p>
    <label>Price</label>
    <input type="text" th:field="*{price}"><br>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p><br>
    <input type="submit" value="Create">
</form>
</body>
</html>