<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<p th:text="${registerMessage}"></p>
<form action="/login" method="post" th:object="${customer}">
    <label>Username :</label>
    <input th:field="*{username}"><br>
    <br>
    <label>Password : </label>
    <input type="password" th:field="*{password}"><br>
    <p th:text="${message}" style="color: red"></p>
    <input type="submit" value="Login">
    <a th:href="@{/register}">Register New Account!</a>
</form>
<a th:href="@{/(lang=en)}">English</a>
<a th:href="@{/(lang=vn)}">Vietnam</a>
</body>
</html>