<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/dashboard.css"/>
    <script src="../static/js/jquery-3.5.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/dashboard.js"></script>
    <style>
        .my-custom {
            position: fixed;
            top: 8px;
        }
    </style>
</head>
<body>
<nav th:fragment="navigateBar" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/}">Home</a>
    <form class="form-control-dark w-75" th:action="@{/search-by-key}" method="get">
        <input class="form-control-dark w-75" type="text" th:name="keyword" placeholder="Search" aria-label="Search">
        <select name="typeSearch" id="typeSearch">
            <option value="Ma Sach">Mã Sách</option>
            <option value="Ten Sach">Tên Sách</option>
        </select>
        <input class="btn btn-primary btn-sm" type="submit" value="Search">
    </form>
    <ul class="navbar-nav px-4">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/login}">Đăng Nhập</a>
        </li>
    </ul>
    <ul  class="navbar-nav px-4">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/register-user}">Đăng ký</a>
        </li>
    </ul>
</nav>

<div th:fragment="sideBar" class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/list}">
                            <span data-feather="home"></span>
                            Danh Sách <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/create}">
                            <span data-feather="file"></span>
                            Thêm Sách Mới
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>