<div class="row align-items-center mt-3">
  <div class="col-2"></div>
  <div class="col-8 card border-warning">
    <form>
      <div class="form-group mt-2">
        <label for="exampleFormControlInput1">Mã Dịch Vụ</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="DV-XXXX">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Tên Dịch Vụ</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Diện Tích</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Số Tầng</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Số Người</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Giá</label>
        <input type="text" class="form-control"
        >
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Tình Trạng</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                Có
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                Không
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <label>Kiểu Thuê</label>
        <select class="form-control">
          <option>Ngày</option>
          <option>Tháng</option>
          <option>Năm</option>
        </select>
      </div>
      <div class="form-group">
        <label>Loại Dịch Vụ</label>
        <select class="form-control">
          <option>Villa</option>
          <option>House</option>
          <option>Room</option>
        </select>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">
          <i class="far fa-paper-plane"></i>
          <span class="ml-1">Thêm Mới</span>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="col-2"></div>
