<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/dashboard.css"/>
    <script src="js/jquery-3.5.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/dashboard.js"></script>
</head>
<body>
<nav th:fragment="navigateBar" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/}">Home</a>
    <input class="form-control form-control-dark w-75" type="text" placeholder="Search" aria-label="Search">
    <ul th:unless="${userInformation}" class="navbar-nav px-4">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/login}">Đăng Nhập</a>
        </li>
    </ul>
    <ul th:unless="${userInformation}" class="navbar-nav px-4">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/register-user}">Đăng ký</a>
        </li>
    </ul>
</nav>

<div th:fragment="sideBar" class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/customer-list}">
                            <span data-feather="home"></span>
                            List Khách Hàng <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/services}">
                            <span data-feather="file"></span>
                            List Dịch Vụ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">
                            <span data-feather="users"></span>
                            List Hợp Đồng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">
                            <span data-feather="users"></span>
                            List Nhân Viên
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">
                            <span data-feather="users"></span>
                            Thêm Mới Khách Hàng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/create-services}">
                            <span data-feather="users"></span>
                            Thêm Mới Dịch Vụ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/create-contract}">
                            <span data-feather="bar-chart-2"></span>
                            Thêm Mới Hợp Đồng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/create-employee}">
                            <span data-feather="bar-chart-2"></span>
                            Thêm Mới Nhân Viên
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

</body>
</html>