<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furama</title>
</head>
<body>
<img th:src="@{/image/furama.jpg}">
<a th:unless="${userInformation}" th:href="@{/register-user}"> Đăng Ký</a>
<a th:unless="${userInformation}" th:href="@{/login}">Đăng Nhập</a>
<p th:if="${userInformation}" th:text="${userInformation.username}"></p>
<div>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/}">Dịch Vụ</a>
    <a th:href="@{/search}">Tìm Kiếm</a>
    <a th:href="@{/}">Review</a>
</div>
<div>
    <a th:href="@{/customer-list}">List Khách Hàng</a>
    <a th:href="@{/services}">List Dịch Vụ</a>
    <a th:href="@{/register-customer}">Thêm Mới Khách Hàng</a>
    <a th:href="@{/create-services}">Thêm Mới Dịch Vụ</a>
    <a th:href="@{/create-contract}">Thêm Mới Hợp Đồng</a>
</div>
<div th:if="${message}" th:id="mess">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var message = /*[[${message}]]*/ 'default';
        window.alert(message);
    </script>
</div>
<div>
    <table th:if="${list}" th:unless="${listDichVu}">
        <tr>
            <td>ID</td>
            <td>Tên Khách Hàng</td>
            <td>Code</td>
            <td>Loại Khách Hàng</td>
            <td>Địa Chỉ</td>
            <td>Ngày Sinh</td>
            <td>Số Điện Thoại</td>
            <td>Số CMND</td>
            <td>Email</td>
            <td colspan="2">Thao tác</td>

        </tr>
        <tr th:each="customer : ${list}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.code}"></td>
            <td th:text="${customer.loaiKhach.ten}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.birthDay}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.cmnd}"></td>
            <td th:text="${customer.email}"></td>
            <td><a th:href="@{/edit-customer(id= ${customer.id})}">Edit</a></td>
            <td><a onclick="return confirm_delete()" th:href="@{/delete-customer(id= ${customer.id})}">Delete</a></td>
        </tr>
    </table>
    <table th:if="${listDichVu}">
        <tr>
            <td>ID</td>
            <td>Tên dịch vụ</td>
            <td>Code</td>
            <td>Loại dịch vụ</td>
            <td>Diện tích</td>
            <td>Số tầng</td>
            <td>Số người</td>
            <td>Giá</td>
            <td>Trạng thái</td>
            <td colspan="2">Thao tác</td>
        </tr>
        <tr th:each="service : ${listDichVu}">
            <td th:text="${service.id}"></td>
            <td th:text="${service.name}"></td>
            <td th:text="${service.code}"></td>
            <td th:text="${service.loaiDichVu.name}"></td>
            <td th:text="${service.area}"></td>
            <td th:text="${service.floor}"></td>
            <td th:text="${service.maxPeople}"></td>
            <td th:text="${service.price}"></td>
            <td th:text="${service.status}"></td>
            <td><a th:href="@{/edit-services(id=${service.id})}">Edit</a></td>
            <td><a onclick="return confirm_delete()" th:href="@{/delete-service(id=${service.id})}">Delete</a></td>
        </tr>
    </table>
    <form th:if="${khachHangMoi}" action="/register-customer" method="post" th:object="${khachHangMoi}">
        <p>Mã Khách Hàng:
            <input type="text" th:field="*{code}">
        </p>
        <p>Tên Khách Hàng
        <input type="text" th:field="*{name}">
        </p>
        <p>Địa Chỉ
        <input type="text" th:field="*{address}">
        </p>
        <p>Email
        <input type="text" th:field="*{email}">
        </p>
        <p>Số Điện Thoại
        <input type="text" th:field="*{phoneNumber}">
        </p>
        <p>Chứng Minh Nhân Dân
        <input type="text" th:field="*{cmnd}">
        </p>
        <p>Loại Khách
        <select name="select" th:field="*{loaiKhach.id}">
            <option th:each="loai : ${listDichVuDangKy}" th:value="${loai.id}" th:text="${loai.name}"></option>
        </select>
        </p>
        <input type="submit" th:value="Register">
    </form>
    <form th:if="${dichVu}" action="/create-services" method="post" th:object="${dichVu}">
        <p> Mã Dịch Vụ
            <input type="text" th:field="*{code}">
        </p>
        <p>Tên Dịch Vụ
            <input type="text" th:field="*{name}">
        </p>
        <p>Diện Tích
            <input type="text" th:field="*{area}">
        </p>
        <p>Số Tầng
            <input type="text" th:field="*{floor}">
        </p>
        <p>Số Người
            <input type="text" th:field="*{maxPeople}">
        </p>
        <p>Giá
            <input type="text" th:field="*{price}">
        </p>
        <p>Trạng Thái
            <input type="text" th:field="*{status}">
        </p>
        <p>Kiểu Thuê
            <select name="select" th:field="*{kieuThue.id}">
                <option th:each="kieuThue : ${listKieuThue}" th:value="${kieuThue.id}"
                        th:text="${kieuThue.name}"></option>
            </select>
        </p>
        <p>Loại Dịch Vụ
            <select name="select" th:field="*{loaiDichVu.id}">
                <option th:each="loaiDichVu : ${listLoaiDichVu}" th:value="${loaiDichVu.id}"
                        th:text="${loaiDichVu.name}"></option>
            </select>
        </p>
        <input type="submit" th:value="Add">
    </form>
</div>
<div>

</div>
<script type="text/javascript">
    function confirm_delete() {
        return confirm("Are you sure ?");
    }
</script>
</body>
</html>