<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form action="/search-key" method="get">
    <input type="text" th:name="keyword" >
    <input type="submit" th:value="Search">
</form>
<p th:text="${message}"></p>
<table th:if="${listSearch}">
    <tr>
        <td>ID</td>
        <td>Tên</td>
        <td>Mã Khách Hàng</td>
        <td>Địa Chỉ</td>
        <td>Email</td>
        <td>Ngày Sinh</td>
        <td>Số Điện Thoại</td>
    </tr>
    <tr th:each="KhachHang : ${listSearch}">
        <td th:text="${KhachHang.id}"></td>
        <td th:text="${KhachHang.name}"></td>
        <td th:text="${KhachHang.code}"></td>
        <td th:text="${KhachHang.address}"></td>
        <td th:text="${KhachHang.email}"></td>
        <td th:text="${KhachHang.birthDay}"></td>
        <td th:text="${KhachHang.phoneNumber}"></td>
        <td th:if="${hopDong}"><a th:if="${hopDong}" th:href="@{/create-contract(id=${KhachHang.id})}">Thêm Hợp Đồng</a></td>
        <td><a th:href="@{/edit-customer(id= ${KhachHang.id})}">Edit</a></td>
        <td><a onclick="return confirm_delete()" th:href="@{/delete-customer(id= ${KhachHang.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>